*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/* common style  */
:root{
   --gradient :linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1) );
}

.size{
    width: 75%;
    margin: 0 auto;
}
.btn{
    /* background-color: #rgba(247, 233, 63, 1)#rgba(251, 9, 180, 1)rgba(145, 0, 248, 1); */
    width: 145px;
    height: 44px;
    border-radius: 10000px;
    cursor: pointer;
    background: var(--gradient);
}
.btn a {
    color: white;
    text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color:white;
  background: rgba(26, 11, 46, 1);
}
.header {
    max-width: 75%;
    margin: 0 auto;
}
.navbar{
    /* width: 1600px; */
    
    height: 92px;
    display: flex;
    justify-content: space-between;
    background: rgba(26, 11, 46, 1);
    align-items: center;
    padding:16px 200px 16px 200 px;
    
}
.main-color{
    background: var(--gradient);
    -webkit-background-clip: text ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    list-style: none;

}
.menu a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
.banner{
    background: url(assets/hero-bg.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height:760px ;
    
}
.banner-style{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top:100px ;
    
    
}
.mic {
    margin: -150px;
}
.banner-title{
    /* align-items: center; */
    /* justify-content: center; */
    /* display: column; */
    text-align: center;
    padding-top: 50px;
}
/* about section */
#about{
    text-align: center;
}
.about-container h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.about-container p{
    font-weight: 400;
    opacity: 0.8;
    line-height:2rem;
    font-size: 16px ;
    text-align: center;
    margin-bottom: 80px;

}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-bottom:7.5rem ;
}
.card-ratting h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;

}
.card-ratting p {
    opacity: 0.8;
    font-weight: 400;
    text-transform: uppercase;
}


/* why choose sector  */
.choose{
    margin-bottom: 7.5rem;
}
.choose h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.choose-container img{
    height: 60px;
    width: 60px;
    

}
.choose-container h3{
    font-size: 1.4rem;
    font-weight: 600;
    /* margin: 30px 0px 30px 0px ; */
    
}

.choose-container p{
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
    line-height: 24px;
    text-align: left;
    /* border: 1px solid red; */
}
.choose-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.choose-container .choose-card1 {
    grid-row: span 2;
    /* border: 1px solid red; */
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.choose-container .choose-card2{
    grid-column:span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}
.choose-container .choose-card3{
    grid-column:span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.choose-container .choose-card4{
     grid-column:span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.choose-container .choose-card5{
     border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}





/* responsive media  */
@media screen and (max-width:576px){
    #about{
        padding: 40px 20px 40px 20px;
        /* border: 2px solid rebeccapurple; */
    }
   .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
    
}
.choose-container{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
}
.choose-card1, .choose-card2, .choose-card3, 
.choose-card4{
    max-width: 400px;
    width: 100%;
}
.choose-card5{
    max-width: 100%;
    width:410px ;
}


}



    

